include ./js

-
	var data =
	[

	]

	
mixin a(attr)
	- attr = attr || {}
	a()&attributes(attr)
		block

//- Хедер логотипы(белый и красный) и конопка ведущая на Юлмарт
mixin top-line()
	.top-line
		.container-fluid
			.row
				.col-xl-2.col-lg-2.col-md-3.col-sm-6.col-12.align-self-center.justify-content-center
					a(class="top-line__logo" href="/", target="_blank")
						img(src="../img/logo-white.svg", alt="logo")
				.col-xl-5.col-lg-6.col-md-5.col-sm-6.col-12.align-self-center.justify-content-center
					nav.nav
						ul.nav__list
							li.nav__item
								a(href="about.html", class="nav__link") О нас
							li.nav__item
								a(href="case.html", class="nav__link") Кейсы
							li.nav__item
								a(href="laboratory.html", class="nav__link") Лаборатория
							//- li.nav__item
							//- 	a(href="#", class="nav__link") Карьера
							li.nav__item
								a(href="contact.html", class="nav__link") Контакты
				.offset-xl-3.offset-lg-3.col-xl-2.col-lg-2.col-md-5.col-sm-6.col-12.align-self-center.justify-content-center
					a(href="#", class="submit__btn") Оставить заявку

mixin another-top-line()
	.top-line
		.container-fluid
			.row
				.col-xl-2.col-lg-2.col-md-3.col-sm-6.col-12.align-self-center.justify-content-center
					a(class="top-line__logo" href="/", target="_blank")
						img(src="../img/another-logo.png", alt="logo", width="195px", height="47px")
				.col-xl-5.col-lg-6.col-md-5.col-sm-6.col-12.align-self-center.justify-content-center
					nav.nav
						ul.nav__list
							li.nav__item
								a(href="about.html", class="nav__link nav__link-inner") О нас
							li.nav__item
								a(href="case.html", class="nav__link nav__link-inner") Кейсы
							li.nav__item
								a(href="laboratory.html", class="nav__link nav__link-inner") Лаборатория
							li.nav__item
								a(href="#", class="nav__link nav__link-inner") Карьера
							li.nav__item
								a(href="contact.html", class="nav__link nav__link-inner") Контакты
				.offset-xl-3.offset-lg-3.col-xl-2.col-lg-2.col-md-5.col-sm-6.col-12.align-self-center.justify-content-center
					a(href="#", class="submit__btn submit__btn-inner") Оставить заявку


//- Товары
mixin goods(data)
	//- .goods__item
	//- 	.goods__wrap__img
	//- 		a(class="goods__picture__wrap" href= `${data.link}` target="_blank")
	//- 			img(class="goods__picture" src=`${pathCardImgAdmin + data.id + '.jpg'}`)
	//- 	.goods__wrap__name
	//- 		.goods__name
	//- 			| #{formatTitleAlter(data.title)}
	//- 	.goods__wrap__price
	//- 		.price__block
	//- 			.goods__retail__price
	//- 				| !{getProfit(data.oldPrice, data.price)}.- 
	//- 			.goods__start__price
	//- 				| !{getNumberFormat(data.price)}.-
	//- 	a(class="goods__link", href=`${data.link}`) Купить

	.goods-wrapper
		.goods-head
			a(href=`${data.link}`, class="goods-head__link",target="_blank")
				img(src=`${pathCardImgAdmin + data.id + '.jpg'}`, alt="Товар", class="goods-head__img")
		.goods-wrapper-name
			.goods-head__name
				| #{formatTitleAlter(data.title)}
		.goods-middle
			//- if data.oldPrice !== '' Если старая цена пустая
			.goods-middle__price
				.goods-middle__retail
					| !{getNumberFormat(data.oldPrice, data.price)}.- 
				.goods-middle__start
					| !{getNumberFormat(data.price)}.-
		a(href=`${data.link}`, class="goods-bottom__link") Купить
		

//- Товары с промокодом и выгодой
mixin goods-promocode(data)
	.goods-wrapper.goods-wrapper-promocode
		.goods-sale
			| Выгода 
			br
			span #{data.sale}
		.goods-head
			a(href=`${data.link}`, class="goods-head__link",target="_blank")
				img(src=`${pathCardImgAdmin + data.id + '.jpg'}`, alt="Товар", class="goods-head__img")
		.goods-wrapper-name
			.goods-head__name
				| #{formatTitleAlter(data.title)}
		.goods-promocode
			| Промокод: 
			span #{data.promocode}
		.goods-middle
			.goods-middle__price
				.goods-middle__retail
					| !{getProfit(data.oldPrice, data.price)}.- 
				.goods-middle__start
					| !{getNumberFormat(data.price)}.-
		a(href=`${data.link}`, class="goods-bottom__link") Купить
		
		
//- Товары для аукциона
mixin goods-auction(data)
	.goods-wrapper.goods-wrapper-auction
		.goods-head
			a(href=`${data.link}`, class="goods-head__link",target="_blank")
				img(src=`${pathCardImgAdmin + data.id + '.jpg'}`, alt="Товар", class="goods-head__img")
		.goods-wrapper-name
			.goods-head__name
				| #{formatTitleAlter(data.title)}
		.goods-middle
			.goods-middle__line
				.goods-middle__text
					| Розничная цена
				.goods-middle__retail-price
					| !{getProfit(data.oldPrice, data.price)}.-
			.goods-middle__line
				.goods-middle__text
					| Стартовая цена
				.goods-middle__start-price
					| !{getNumberFormat(data.price)}.-
		a(class="goods-bottom__link", href= `${data.link}`) О товаре
			

//- Сетка по 3 товара
mixin grid-4()
	.col-lg-4.col-md-6.col-sm-6.col-12
		block
			
//- Сетка по 4 товара
mixin grid-3()
	.col-lg-3.col-md-6.col-sm-6.col-12
		block
			
//- Футер служебка
mixin footer-text()
	footer.footer.wow.slideInLeft(data-wow-delay="1s")
		.container-fluid
			.footer-top
				.row
					.col-xl-5.col-lg-5.col-md-5.col-sm-6.col-12
						.footer__form__wrapper
							p.footer__subscribe-text
								|Подпишитесь на рассылку
							form(action="/", class="footer__form")
								input(type="email", placeholder="Почта", required, class="footer__subscribe-input")
								input(type="submit", value="Подписаться", class="footer__subscribe-btn")
					.offset-xl-4.offset-lg-4.offset-md-2.col-xl-3.col-lg-3.col-md-5.col-sm-6.col-12
						.footer__form__wrapper
							p.footer__subscribe-text
								|Связь в мессенджерах
							a(href="#", target="_blank", class="footer__social__link footer__social__link-tg")
								img(src="../img/svg-icons/tg.svg", alt="", class="footer__social__icon.footer__social__icon-tg")
							a(href="#", target="_blank", class="footer__social__link footer__social__link-fb")
								img(src="../img/svg-icons/fb.svg", alt="", class="footer__social__icon.footer__social__icon-fb")
			.footer-bottom
				.row
					.col-xl-2.col-lg-2.col-md-3.col-sm-6.col-12
						.footer__form__wrapper
							a(href="#", target="_blank", class="footer__social__link-bottom footer__social__link-bottom-fb")
								img(src="../img/svg-icons/fb.svg", alt="", class="footer__social__icon footer__social__icon-fb")
							a(href="#", target="_blank", class="footer__social__link-bottom footer__social__link-bottom-linkedin")
								img(src="../img/svg-icons/linkedin.svg", alt="", class="footer__social__icon footer__social__icon-linkedin")
					.offset-xl-8.offset-lg-8.offset-md-6.col-xl-2.col-lg-2.col-md-3.col-sm-6.col-12
						a(href="tel:+74955325481", class="footer__phone") +7(495)5325481
			.footer-bottom.p-0
				.row
					.col-xl-2.col-lg-2.col-md-3.col-sm-6.col-12
							p.footer__copy
								|&copy; 2009–2017 Wim agensy
					.offset-xl-8.offset-lg-8.offset-md-6.col-xl-2.col-lg-2.col-md-3.col-sm-6.col-12
						a(href="mailto:info@wim.agency", class="footer__email") info@wim.agency

					

//- Выводит все товары по 4 из списка
mixin all-goods-list()
	each item, number in cards
		if ((number % 4) == 0)
			.row
				each item, j in cards.slice(number, number+4)
					+grid-3()
						+active-cards(item)

//- Старая цена !{getNumberFormat(data.oldPrice)}
//- Новая цена !{checkPriceMain(data.oldPrice, data.price)}
//- Скидка #{getProfit(data.oldPrice,data.price)}